<div
  class="lv-empty-state lv-empty-state-{{ size() }} lv-empty-state-{{ variant() }}">

  <lv-icon
    [name]="icon()"
    size="xl"
    color="neutral" />

  <lv-heading
    [level]="size() === 'lg' ? '2' : size() === 'md' ? '3' : '4'"
    [text]="title()"
    color="neutral"
    [align]="'center'" />

  @if (description()) {
    <lv-paragraph
      [size]="size() === 'lg' ? 'lg' : size() === 'md' ? 'md' : 'sm'"
      color="neutral"
      [align]="'center'">
      {{ description() }}
    </lv-paragraph>
  }

  @if (actionLabel()) {
    <div class="lv-empty-state-actions">
      <lv-button
        variant="primary"
        (onClick)="handleAction()">
        @if (actionIcon()) {
          <lv-icon [name]="actionIcon()!" size="sm" />
        }
        {{ actionLabel() }}
      </lv-button>
    </div>
  }

  <ng-content></ng-content>
</div>
