<div class="lv-profile-dropdown" #dropdown>
  <button
    type="button"
    class="lv-profile-trigger"
    (click)="toggle()"
    aria-haspopup="true"
    [attr.aria-expanded]="isOpen()">

    @if (showUserInfo()) {
      <span class="lv-profile-trigger-name">{{ user().name }}</span>
    }

    <lv-icon name="chevron-down" size="sm" class="lv-profile-chevron" />
  </button>

  @if (isOpen()) {
    <div class="lv-profile-dropdown-menu" role="menu">
      @if (showUserInfo()) {
        <div class="lv-profile-header">
          <lv-paragraph size="sm" weight="semibold" color="neutral">
            {{ user().name }}
          </lv-paragraph>
          <lv-paragraph size="xs" color="neutral" [muted]="true">
            {{ user().email }}
          </lv-paragraph>
        </div>
      }

      @for (item of items(); track $index) {
        @if (item.divider) {
          <lv-divider />
        } @else {
          @if (item.route) {
            <lv-link
              [routerLink]="item.route"
              color="neutral"
              [underline]="false"
              class="lv-profile-menu-item"
              [class.lv-profile-menu-item-danger]="item.danger"
              (click)="close()">
              @if (item.icon) {
                <lv-icon [name]="item.icon" size="sm" />
              }
              {{ item.label }}
            </lv-link>
          } @else {
            <lv-button
              variant="secondary"
              appearance="ghost"
              size="sm"
              [fullWidth]="true"
              class="lv-profile-menu-item"
              [class.lv-profile-menu-item-danger]="item.danger"
              (onClick)="handleItemClick(item)">
              @if (item.icon) {
                <lv-icon [name]="item.icon" size="sm" />
              }
              {{ item.label }}
            </lv-button>
          }
        }
      }
    </div>
  }
</div>
