@reference "../../../../../styles.css";
/* badge.css - Estilos propios del componente */
.lv-badge {
  @apply inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-medium;
}

.lv-badge-primary {
  background-color: var(--color-primary-100);
  color: var(--color-primary-800);
}

.lv-badge-secondary {
  background-color: var(--color-secondary-100);
  color: var(--color-secondary-800);
}

.lv-badge-success {
  background-color: var(--color-success-100);
  color: var(--color-success-800);
}

.lv-badge-danger {
  background-color: var(--color-danger-100);
  color: var(--color-danger-800);
}

.lv-badge-warning {
  background-color: var(--color-warning-100);
  color: var(--color-warning-800);
}

.lv-badge-info {
  background-color: var(--color-info-100);
  color: var(--color-info-800);
}

.lv-badge-neutral {
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-800);
}
