<div class="lv-crud lv-crud-{{ variant() }} lv-crud-{{ size() }}">
  <div class="lv-crud-toolbar">
    <div class="lv-crud-header">
      @if (title()) {
        <lv-heading level="2" [text]="title()" [color]="color()" />
      }
      @if (subtitle()) {
        <lv-paragraph size="sm" color="neutral" [muted]="true">
          {{ subtitle() }}
        </lv-paragraph>
      }
    </div>

    <div class="lv-crud-actions">
      <ng-content select="[actions]"></ng-content>
    </div>
  </div>

  <ng-content select="[filters]"></ng-content>

  <div class="lv-crud-content">
    <ng-content></ng-content>
  </div>
</div>
