<nav aria-label="Breadcrumb" class="lv-breadcrumb">
  <ol class="lv-breadcrumb-list">
    @for (item of items(); track $index) {
      <li class="lv-breadcrumb-item">
        @if (!$first) {
          <span class="lv-breadcrumb-separator">{{ separator() }}</span>
        }

        @if (item.path && !item.active) {
          <lv-link
            [routerLink]="item.path"
            [color]="color()"
            [underline]="true">
            @if (item.icon) {
              <lv-icon [name]="item.icon" size="sm" />
            }
            {{ item.label }}
          </lv-link>
        } @else {
          <span class="lv-breadcrumb-active">
            @if (item.icon) {
              <lv-icon [name]="item.icon" size="sm" />
            }
            {{ item.label }}
          </span>
        }
      </li>
    }
  </ol>
</nav>
