<lv-card [shadow]="true">
  <div class="lv-filters-panel lv-filters-panel-{{ size() }}">
    @if (hasHeader()) {
      <div class="lv-filters-panel-header">
        <ng-content select="[header]"></ng-content>
      </div>
    }

    <lv-page-filter
      [appearance]="appearance()"
      [size]="size()"
      [fullWidth]="fullWidth()">
      <ng-content select="[left]"></ng-content>
      <ng-content select="[filters]"></ng-content>
      <ng-content select="[right]"></ng-content>
    </lv-page-filter>

    @if (hasFooter()) {
      <lv-divider />
      <div class="lv-filters-panel-footer">
        <ng-content select="[footer]"></ng-content>
      </div>
    }
  </div>
</lv-card>
