<div [class]="classes().base" #dropdown>
  <!-- Trigger -->
  <button
    type="button"
    [class]="classes().trigger"
    (click)="toggle()"
    aria-expanded="isOpen()"
    aria-haspopup="true"
  >
    @if (showAvatar()) {
      @if (user().avatar) {
        <img
          [src]="user().avatar"
          [alt]="user().name"
          [class]="classes().avatarImage"
        />
      } @else {
        <div [class]="classes().avatar">
          {{ getInitials() }}
        </div>
      }
    }

    @if (showUserInfo()) {
      <div [class]="classes().userInfo">
        <span [class]="classes().userName">{{ user().name }}</span>
        <span [class]="classes().userEmail">{{ user().email }}</span>
      </div>
    }

    <lv-icon name="chevron-down" size="sm" class="text-gray-400" />
  </button>

  <!-- Dropdown -->
  @if (isOpen()) {
    <div [class]="classes().dropdown" role="menu">
      @if (showUserInfo()) {
        <div [class]="classes().header">
          <div class="font-medium text-gray-900 dark:text-white">{{ user().name }}</div>
          <div class="text-xs text-gray-500 dark:text-gray-400">{{ user().email }}</div>
        </div>
      }

      @for (item of items(); track $index) {
        @if (item.divider) {
          <hr [class]="classes().divider" />
        } @else {
          @if (item.route) {
            <a
              [routerLink]="item.route"
              [class]="[classes().item, item.danger ? classes().itemDanger : ''].filter(Boolean).join(' ')"
              role="menuitem"
              (click)="close()"
            >
              @if (item.icon) {
                <lv-icon [name]="item.icon" size="sm" />
              }
              {{ item.label }}
            </a>
          } @else {
            <button
              type="button"
              [class]="[classes().item, item.danger ? classes().itemDanger : ''].filter(Boolean).join(' ')"
              role="menuitem"
              (click)="handleItemClick(item)"
            >
              @if (item.icon) {
                <lv-icon [name]="item.icon" size="sm" />
              }
              {{ item.label }}
            </button>
          }
        }
      }
    </div>
  }
</div>
