<div class="lv-data-table">
  @if (title() || description()) {
    <div class="lv-data-table-header">
      <div class="lv-data-table-title">
        @if (title()) {
          <lv-heading level="3" color="neutral">
            {{ title() }}
          </lv-heading>
        }
        @if (description()) {
          <lv-paragraph size="sm" color="neutral" [muted]="true">
            {{ description() }}
          </lv-paragraph>
        }
      </div>
    </div>
  }

  <lv-table
    [data]="data()"
    [columns]="columns()"
    [loading]="loading()"
    [emptyMessage]="emptyMessage()"
    [actions]="actions()"
    [selectable]="selectable()"
    [pagination]="pagination()"
    [sort]="sort()"
    (onRowClick)="onRowClick.emit($event)"
    (onSort)="onSort.emit($event)"
    (onPageChange)="onPageChange.emit($event)"
    (onSelectionChange)="onSelectionChange.emit($event)" />
</div>
