@reference "../../../../../styles.css";

.lv-dynamic-form {
  @apply w-full;
}

.lv-dynamic-form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  gap: 1.5rem;
}

.lv-dynamic-form-item {
  min-width: 0;
}

.lv-dynamic-form-footer-bar {
  @apply flex justify-end mt-8;
}
