<div class="lv-filter-select lv-filter-select-{{ size() }}">
  @if (label()) {
    <span class="lv-filter-select-label">{{ label() }}</span>
  }

  @if (options().length > 0) {
    <div class="lv-filter-select-wrapper lv-filter-select-{{ color() }}">
      <select
        class="lv-filter-select-input"
        [value]="selectedValue()"
        (change)="onSelectChange(($any($event.target)).value)"
        [disabled]="disabled()">
        @if (placeholder()) {
          <option value="">{{ placeholder() }}</option>
        }
        @for (option of options(); track option.value) {
          <option [value]="option.value">
            {{ option.label }}
          </option>
        }
      </select>
      <lv-icon name="chevron-down" [size]="size()" class="lv-filter-select-arrow" />
    </div>
  }
</div>
