<div class="lv-form lv-form-{{ variant() }} lv-form-{{ size() }}">
  @if (variant() === 'card') {
    <lv-card [shadow]="true" class="lv-form-card">
      @if (title()) {
        <div class="lv-form-header">
          <div>
            <lv-heading [level]="'2'" [text]="title()" [color]="color()" [textAlign]="align()" />
            @if (subtitle()) {
              <lv-paragraph size="md" color="neutral" [align]="align()" [muted]="true">
                {{ subtitle() }}
              </lv-paragraph>
            }
          </div>
          <div class="lv-form-header-actions">
            <ng-content select="[header-actions]"></ng-content>
          </div>
        </div>
        <lv-divider />
      }

      <form (ngSubmit)="onSubmit.emit()">
        <div class="lv-form-body">
          <ng-content></ng-content>
        </div>

        <div class="lv-form-footer">
          <ng-content select="[footer-actions]"></ng-content>
        </div>
      </form>
    </lv-card>
  } @else {
    <div class="lv-form-simple">
      @if (title()) {
        <div class="lv-form-header">
          <div>
            <lv-heading [level]="'2'" [text]="title()" [color]="color()" [textAlign]="align()" />
            @if (subtitle()) {
              <lv-paragraph size="md" color="neutral" [align]="align()" [muted]="true">
                {{ subtitle() }}
              </lv-paragraph>
            }
          </div>
          <div class="lv-form-header-actions">
            <ng-content select="[header-actions]"></ng-content>
          </div>
        </div>
        <lv-divider />
      }

      <form (ngSubmit)="onSubmit.emit()">
        <div class="lv-form-body">
          <ng-content></ng-content>
        </div>

        <div class="lv-form-footer">
          <ng-content select="[footer-actions]"></ng-content>
        </div>
      </form>
    </div>
  }
</div>
