
  @if (variant() === 'card') {

    <lv-card [shadow]="true">

      @if (title() || subtitle()) {
        <div class="lv-form-header">

          <div class="lv-form-header-content">

            @if (title()) {
              <lv-heading
                level="2"
                [text]="title()"
                [color]="color()"
                [textAlign]="align()" />
            }

            @if (subtitle()) {
              <lv-paragraph
                size="md"
                color="neutral"
                [align]="align()"
                [muted]="true">
                {{ subtitle() }}
              </lv-paragraph>
            }

          </div>

          <div class="lv-form-header-actions">
            <ng-content select="[header-actions]" />
          </div>

        </div>

        <lv-divider />
      }

      <form
        [formGroup]="formGroup()"
        (ngSubmit)="onSubmit.emit()">

        <div class="lv-form-body">
          <ng-content />
        </div>

        <div class="lv-form-footer">
          <ng-content select="[footer-actions]" />
        </div>

      </form>

    </lv-card>

  } @else {

    <form
      class="lv-form-simple"
      [formGroup]="formGroup()"
      (ngSubmit)="onSubmit.emit()">

      <div class="lv-form-body">
        <ng-content />
      </div>

      <div class="lv-form-footer">
        <ng-content select="[footer-actions]" />
      </div>

    </form>

  }
