<div [class]="classes().template">
  @if (variant() === 'card') {
    <!-- Con Card -->
    <lv-card>
      <!-- Header -->
      @if (title()) {
        <div [class]="classes().header">
          <div>
            <lv-heading [level]="'2'" [text]="title()" />
            @if (subtitle()) {
              <lv-paragraph size="md" color="gray">
                {{ subtitle() }}
              </lv-paragraph>
            }
          </div>
          <ng-content select="[header-actions]"></ng-content>
        </div>
      }

      <!-- Form -->
      <form (ngSubmit)="onSubmit.emit()">
        <!-- Body -->
        <div [class]="classes().body">
          <ng-content></ng-content>
        </div>

        <!-- Footer -->
        <div [class]="classes().footer">
          <ng-content select="[footer-actions]"></ng-content>
        </div>
      </form>
    </lv-card>
  } @else {
    @if (title()) {
      <div [class]="classes().header">
        <div>
          <lv-heading [level]="'2'" [text]="title()" />
          @if (subtitle()) {
            <lv-paragraph size="md" color="gray">
              {{ subtitle() }}
            </lv-paragraph>
          }
        </div>
        <ng-content select="[header-actions]"></ng-content>
      </div>
    }

    <!-- Form -->
    <form (ngSubmit)="onSubmit.emit()">
      <!-- Body -->
      <div [class]="classes().body">
        <ng-content></ng-content>
      </div>

      <!-- Footer -->
      <div [class]="classes().footer">
        <ng-content select="[footer-actions]"></ng-content>
      </div>
    </form>
  }
</div>
