<div [class]="classes().template">
  <div [class]="classes().container">
    <!-- Icon -->
    <lv-icon
      [name]="getErrorIcon()"
      size="xl"
      [class]="classes().icon"
    />

    <!-- Code -->
    <lv-heading
      [level]="'1'"
      [text]="code()"
      [align]="'center'"
      [class]="classes().code"
    />

    <!-- Title -->
    <lv-heading
      [level]="'2'"
      [text]="title()"
      [align]="'center'"
      [class]="classes().title"
    />

    <!-- Message -->
    <lv-paragraph
      size="lg"
      color="gray"
      [align]="'center'"
      [class]="classes().message"
    >
      {{ message() }}
    </lv-paragraph>

    <!-- Actions -->
    @if (showHomeButton()) {
      <div [class]="classes().actions">
        <lv-button
          variant="primary"
          [routerLink]="homeRoute()"
          (onClick)="handleAction()"
        >
          <lv-icon name="home" size="sm" />
          Ir al inicio
        </lv-button>
      </div>
    }

    <ng-content></ng-content>
  </div>
</div>
