<div class="lv-error lv-error-{{ size() }}">
  <div class="lv-error-container">
    <lv-icon
      [name]="getErrorIcon()"
      size="xl"
      class="lv-error-icon lv-error-icon-{{ variant() }}" />

    <lv-heading
      level="1"
      [text]="code()"
      [color]="getCodeColor()"
      [textAlign]="align()"
      class="lv-error-code" />

    <lv-heading
      level="2"
      [text]="title()"
      color="neutral"
      [textAlign]="align()" />

    <lv-paragraph
      size="lg"
      color="neutral"
      [align]="align()"
      [muted]="true"
      class="lv-error-message">
      {{ message() }}
    </lv-paragraph>

    @if (showHomeButton()) {
      <div class="lv-error-actions">
        <lv-button
          variant="primary"
          [routerLink]="homeRoute()"
          (onClick)="handleAction()">
          <lv-icon name="home" size="sm" />
          Ir al inicio
        </lv-button>
      </div>
    }

    <ng-content></ng-content>
  </div>
</div>
