<footer class="lv-app-footer" role="contentinfo">
  <div class="lv-app-footer-content">
    @if (sections().length > 0) {
      <div class="lv-app-footer-grid">
        @for (section of sections(); track $index) {
          <div class="lv-app-footer-section">
            <lv-heading level="5" color="neutral" weight="semibold">
              {{ section.title }}
            </lv-heading>
            <ul class="lv-app-footer-links">
              @for (link of section.links; track $index) {
                <li>
                  @if (link.route) {
                    <lv-link [routerLink]="link.route" color="neutral" [underline]="true">
                      @if (link.icon) {
                        <lv-icon [name]="link.icon" size="sm" />
                      }
                      {{ link.label }}
                    </lv-link>
                  } @else if (link.url) {
                    <lv-link [href]="link.url" [external]="true" color="neutral" [underline]="true">
                      @if (link.icon) {
                        <lv-icon [name]="link.icon" size="sm" />
                      }
                      {{ link.label }}
                    </lv-link>
                  }
                </li>
              }
            </ul>
          </div>
        }
      </div>
    }

    <lv-divider />

    <div class="lv-app-footer-bottom">
      <lv-paragraph size="sm" color="neutral" [muted]="true">
        {{ copyright() }}
      </lv-paragraph>

      @if (socialLinks().length > 0) {
        <div class="lv-app-footer-social">
          @for (social of socialLinks(); track $index) {
            @if (social.url) {
              <lv-link [href]="social.url" [external]="true" color="neutral" [underline]="false">
                @if (social.icon) {
                  <lv-icon [name]="social.icon" size="sm" />
                }
              </lv-link>
            }
          }
        </div>
      }
    </div>
  </div>
</footer>
