<div
  class="lv-filter-chip lv-filter-chip-{{ appearance() }} lv-filter-chip-{{ variant() }} lv-filter-chip-{{ size() }} lv-filter-chip-{{ shape() }}"
  [class.lv-filter-chip-selected]="selected()"
  [class.lv-filter-chip-disabled]="disabled()"
  (click)="handleClick()"
  role="button"
  [attr.aria-disabled]="disabled()">

  @if (icon()) {
    <lv-icon [name]="icon()!" [size]="size()" />
  }

  <span class="lv-filter-chip-label">{{ label() }}</span>

  @if (removable()) {
    <lv-icon-button
      icon="x"
      label="Eliminar filtro"
      [size]="size()"
      variant="ghost"
      [disabled]="disabled()"
      (onClick)="handleRemove($event)"
      class="lv-filter-chip-remove"
      aria-label="Eliminar filtro" />
  }
</div>
