<header class="lv-page-header lv-page-header-{{ align() }}">
  <div class="lv-page-header-content">
    <div class="lv-page-header-text">
      @if (breadcrumb().length > 0) {
        <div class="lv-page-header-breadcrumb">
          <lv-breadcrumb [items]="breadcrumb()" [color]="color()" />
        </div>
      }

      <lv-heading
        [level]="'1'"
        [text]="title()"
        [color]="color()"
        [textAlign]="align()">
        @if (icon()) {
          <lv-icon [name]="icon()!" size="lg" />
        }
        {{ title() }}
      </lv-heading>

      @if (subtitle()) {
        <lv-paragraph
          size="lg"
          color="neutral"
          [muted]="true"
          [align]="align()">
          {{ subtitle() }}
        </lv-paragraph>
      }
    </div>

    <div class="lv-page-header-actions">
      <ng-content></ng-content>
    </div>
  </div>
</header>
