<div class="lv-dashboard lv-dashboard-{{ variant() }} lv-dashboard-{{ layout() }}">
  @if (hasSidebar()) {
    <aside class="lv-dashboard-sidebar">
      <ng-content select="[sidebar]"></ng-content>
    </aside>
  }

  <div class="lv-dashboard-main">
    @if (hasHeader()) {
      <header class="lv-dashboard-header">
        <ng-content select="[header]"></ng-content>
      </header>
    }

    <main class="lv-dashboard-content">
      <div class="lv-dashboard-content-shell">
        <ng-content></ng-content>
      </div>
    </main>

    <footer class="lv-dashboard-footer">
      <ng-content select="[footer]"></ng-content>
    </footer>
  </div>
</div>
